@import url("https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Geist Light";
    src: url("/fonts/Geist-Light.ttf") format("truetype");
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Google";
    src: url("/fonts/GoogleSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* Markdown Content Styling */
.markdown-content {
    @apply text-lg leading-8 mx-auto max-w-screen-md;
}

.markdown-content h1 {
    @apply text-3xl md:text-4xl font-bold my-4 text-center;
}

.markdown-content h2 {
    @apply font-bold text-2xl md:text-3xl my-4 text-center;
}

.markdown-content h3 {
    @apply font-bold md:font-normal text-xl md:text-2xl my-4 text-center;
}

.markdown-content p {
    @apply my-4;
}

.markdown-content a {
    @apply text-neutral-600 hover:text-neutral-900 transition;
}

.markdown-content img {
    @apply my-4 rounded-xl w-full;
}

.markdown-content .diagram {
    @apply my-4 rounded-xl w-full;
}

.markdown-content pre {
    @apply p-4 my-4 rounded-md bg-neutral-100 border-2 border-neutral-200 overflow-x-auto;
    font-family: "Google Sans", monospace;
}

.markdown-content code {
    @apply text-[15px];
    font-family: "Google Sans", monospace;
}

.markdown-content ul {
    @apply list-disc ml-4 marker:text-muted;
}

.markdown-content ol {
    @apply list-decimal ml-4 marker:text-muted;
}

/* Progress Bars */
.markdown-content .progress {
    @apply rounded-md;
}

.markdown-content .progress-1 {
    @apply bg-primary w-1/5;
}

.markdown-content .progress-2 {
    @apply bg-emerald-300 w-2/5;
}

.markdown-content .progress-3 {
    @apply bg-amber-300 w-3/5;
}

.markdown-content .progress-4 {
    @apply bg-rose-400 w-4/5;
}

.markdown-content .progress-5 {
    @apply bg-violet-300 w-full;
}

/* Difficulty Levels */
.markdown-content .difficulty {
    @apply text-xs text-black py-[4px] px-2 rounded-md;
}

.markdown-content .difficulty-amateur {
    @apply bg-emerald-300;
}

.markdown-content .difficulty-intermediate {
    @apply bg-amber-300;
}

.markdown-content .difficulty-novice {
    @apply bg-primary;
}

.markdown-content .difficulty-advance {
    @apply bg-rose-400;
}

.markdown-content .difficulty-expert {
    @apply bg-violet-400;
}

/* Marker for entries */
.markdown-content .marker {
    opacity: 0;
    @apply w-48 p-2 text-sm bg-neutral-200 flex flex-col gap-2 rounded-md transition absolute -top-[2rem] -left-[1.5rem];
}

.markdown-content .entry:hover > .marker {
    opacity: 1;
}

.markdown-content .entry {
    @apply relative;
}

.markdown-content .separator {
    @apply w-full pt-[1px] px-2 bg-neutral-200 my-4;
}

/* Global Font Styling */
main {
    font-family: "Google Sans", Google Sans;
}

body {
    color: #171717; /* shiki-color-text */
    background-color: transparent; /* shiki-color-background */
}

.token-constant {
    color: #52a8ff; /* shiki-token-constant */
}

.token-string {
    color: #059669; /* shiki-token-string */
}

.token-comment {
    color: #404040; /* shiki-token-comment */
}

.token-keyword {
    color: #e11d48; /* shiki-token-keyword */
}

.token-parameter {
    color: #eab308; /* shiki-token-parameter */
}

.token-function {
    color: #6d28d9; /* shiki-token-function */
}

.token-string-expression {
    color: #059669; /* shiki-token-string-expression */
}

.token-punctuation {
    color: #404040; /* shiki-token-punctuation */
}

.token-link {
    color: #059669; /* shiki-token-link */
}
